body {
  margin: 0;
  padding: 0;
}
/**********************HEADER**************************/

.main-header {
  margin: 0;
  padding: 0;
  background: #eeeeee;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.site-navigation-wrapper {
  margin: 0;
  margin-right: 50px;
  padding: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  height: 132px;
  list-style: none;
}

.site-link {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  width: 195px;
  height: 65px;
}

.main-header-logo .logo {
  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 160px;
  height: 65px;
  background-image: url(/image/nerds-logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo:hover::before {
  opacity: 0.8;
}

.logo:focus::before {
  opacity: 0.3;
}

.site-navigation-cart {
  display: block;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 132px;
}

.user-navigation-cart {
  list-style: none;
}

.user-navigation-cart .site-cart {
  position: relative;
  padding-left: 50px;
}

.site-cart::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 7px;
  width: 18px;
  height: 18px;
  background-image: url(/image/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-cart {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding-top: 33px;
  margin-right: 5px;
}

.site-link:hover,
.site-cart:hover {
  color: #fb565a;
}

.site-link:focus,
.site-cart:focus {
  color: #000000;
  text-decoration: underline #fb565a;
}

.site-link:visited:active,
.site-cart:visited:active {
  color: #a6a6a6;
}

/******************************MAIN**************************/

.headline {
  display: flex;
  justify-content: center;
  height: 166px;
  background: #eeeeee;
}

.headline-text {
  font-family: "Roboto";
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/*********************slider in slider.css********************/

/***************************FILTERS***************************/

.filters {
  width: 260px;
  padding-left: 140px;
}

.sidebar-radio {
  list-style: none;
}

.sidebar-checkbox {
  list-style: none;
}
