body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: black;

  background-color: #ffffff;
}

/*********************header*******************/
.main-header {
  margin: 0;
  padding: 0;
  border: solid; /*Временно*/
}
.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: solid; /*Временно*/
}

.site-navigation-wrapper {
  flex-basis: 40%;
}

.site-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  font-size: 30px;
  list-style: none;
  border: solid; /*Временно*/
}

.main-header-logo {
  height: 132px;
  flex-basis: 15%;
  border: solid; /*Временно*/
}

.main-header-logo a {
  display: block;
  text-align: center;
}

.site-navigation-cart {
  height: 132px;
  justify-content: center;
  align-content: center;
  flex-basis: 20%;
  border: solid; /*Временно*/
}
.site-cart {
  padding-top: 17px;
  font-size: 30px;
  display: block;
  text-align: center;
}

/*********************main*********************/
/*********Slideshow container***********/
.slide {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  position: relative;
  background-color: #eeeeee;
}

.slide-show {
  max-width: 1180px;
}

.slogan-button {
  font: inherit;

  text-align: center;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
}

.slogan-button:hover {
  background-color: #e74246;
}

.slogan-button:active {
  background-color: #d7373b;
}

/*********Slideshow container end********/

.container {
  margin: 0;
  padding: 0;
  border: solid; /*Временно*/
}
